.order-summary:not(.order-table) {
    text-align: center;
}

.order-table {
    text-align: left;
}

.order-table td:first-child {
    margin-right: 20px;
    display: inline-block;
}

.btn {
    padding: 8px 46px;
    background-color: #f0c14b;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
}

.order-summary h3:nth-child(2) {
    color: orange;
}